section.about
	.flex.flex-center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum itaque facere quos, sint cumque molestiae autem, non repellat tempore eius doloremque praesentium dolor, quis explicabo voluptatum obcaecati aperiam sed adipisci?
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, consectetur beatae modi odit laudantium aliquid voluptates sequi nemo est. Suscipit similique magnam possimus officia error, unde natus eaque quam eum!

section.youtube
	.flex.flex-space-around
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum itaque facere quos, sint cumque molestiae autem, non repellat tempore eius doloremque praesentium dolor, quis explicabo voluptatum obcaecati aperiam sed adipisci?
		.col-1.order-first
			p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, consectetur beatae modi odit laudantium aliquid voluptates sequi nemo est. Suscipit similique magnam possimus officia error, unde natus eaque quam eum!


section.youtube
	.flex.flex-center
		.col-2
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum itaque facere quos, sint cumque molestiae autem, non repellat tempore eius doloremque praesentium dolor, quis explicabo voluptatum obcaecati aperiam sed adipisci?

section.youtube
	.flex.flex-center
		.col-50.flex.flex-center
			.col-1
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum itaque facere quos, sint cumque molestiae autem, non repellat tempore eius doloremque praesentium dolor, quis explicabo voluptatum obcaecati aperiam sed adipisci?
		.col-50
			p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, consectetur beatae modi odit laudantium aliquid voluptates sequi nemo est. Suscipit similique magnam possimus officia error, unde natus eaque quam eum!