include mixins/nav-content
.mobile-nav
	+nav-content

header
	.header-position
		h1.logo Richard Blake

		nav.site-nav
			+nav-content

		a.email-link(href="mailto:doz1010@gmail.com")  +email me

		.mobile-nav-toggle: span