section.youtube
	.flex.flex-center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum itaque facere quos, sint cumque molestiae autem, non repellat tempore eius doloremque praesentium dolor, quis explicabo voluptatum obcaecati aperiam sed adipisci?
		.col-1.order-first
			p.home-lead.outdented ...teaching everyone how to make websites on Youtube
